
.hed{
    display: flex;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 60px;
    align-items: center;
    justify-content: space-between;
}
.words{
    font-family: Work Sans,Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.addButton{
    width: 160px;
    height: 40px;
    color: #CCF8DB;
    border-radius: 6px;
    background-color: black;
    font-family: Work Sans,Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
}
.addBlogButton{
    width: 160px;
    height: 40px;
    color: #CCF8DB;
    border-radius: 6px;
    background-color: black;
    font-family: Work Sans,Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
}
.valiator{
    height: 440px; 
}
.allBlogs{
    overflow-y: scroll;
    height: 440px;
    padding-left: 50px;
    padding-right: 46px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.oneBlog{
    display: flex;
    padding: 12px;
    align-items: center;
    border: solid 1px ;
    border-radius: 12px;
    gap: 40px;
    box-shadow: 2px 4px 10px rgba(43, 1, 1, 0.5);
}
.blogImage{
    width: 80%;
    border-radius: 8px;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.titl{
    font-family: Work Sans,Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 650;
}
.desc{
    color: #696F75;
    font-family: Work Sans,Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.editBut{
    font-family: Work Sans,Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100px;
    height: 40px;
    border: solid 3px #A53DFF;
    background-color: #CCF8DB;
    border-radius: 8px;
}
.deleteBut{
    font-family: Work Sans,Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100px;
    height: 40px;
    background-color: #E17714;
    border: none;
    border-radius: 8px;
}
.addBlog{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.editBlog{
    position: fixed;
    z-index: 500;
    border: solid 3px #A53DFF;
    background-color: #087cce;
    border-radius: 18px;
    height: 640px;
    width: 650px;
    top: 0px;
    left: 320px;
    display: none;
    flex-direction: column;
    gap: 35px;
}
.topCancel{
    display: flex;
    justify-content: end;
    padding-right: 30px;
    margin-top: 10px;
}
.canelBut{
    background-color: #ffffff;
    height: 40px;
    width: 40px;
    border: none;
    font-size: 25px;
    border-radius: 50%;
    margin-bottom: -65px;
}
.canelBut:hover{
    background-color: #e46868;
}
.editBlogForm{
    display: flex;
    font-family: Work Sans,Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: underline;
    justify-content: center;
}
.editBForm{
    display: grid;
    grid-template-columns: 100px 320px;
    column-gap: 40px;
    row-gap: 25px;
    color: #ffffff;
    margin-left: 90px;
}
.textInput{
    width: 340px;
    height: 26px;
    border: solid 1.6px rgb(91, 91, 91);
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 8px;
    font-size: 15px;
}
.tte{
    display: flex;
    align-items: center;
    font-weight: 500;
}
.t{
    font-weight: 500;
}
.messageText{
    border: solid 1.6px rgb(91, 91, 91);
    border-radius: 6px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 8px;
    font-size: 15px;
}
.addButton{
    width: 160px;
    height: 40px;
    color: black;
    border-radius: 6px;
    background-color: #CCF8DB;
    font-family: Work Sans,Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    margin-left: 230px;
}


@media(max-width: 1050px){
    .blogImage{
        width: 100%;
    }
}
@media(max-width: 1050px){
    .blogImage{
        width: 100%;
    }
    .allBlogs{
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 20px;
        row-gap: 20px;
        
    }
    .oneBlog{
        flex-direction: column;
    }
}
@media(max-width: 550px){

    .allBlogs{
        display: grid;
        grid-template-columns: 90%;
        column-gap: 20px;
        row-gap: 20px;
        
    }
    .hed{
        flex-direction: column;
        gap: 20px;
    }

}


