.add{
    padding: 50px;
    display: flex;
    padding-left: 150px;
    padding-top: 0px;
}
.addBlog{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.blogForm{
    display: flex;
    font-family: Work Sans,Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    justify-content: center;
}
.bForm{
    display: grid;
    grid-template-columns: 102px 320px;
    column-gap: 40px;
    row-gap: 25px;
}
.textInput{
    width: 445px;
    height: 26px;
    border: solid 1.6px rgb(91, 91, 91);
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 8px;
    font-size: 15px;
}
.textInput::placeholder{
    font-size: 12px;
}
.tte{
    display: flex;
    align-items: center;
    font-weight: 550;
}
.t{
    font-weight: 550;
}
.messageText{
    border: solid 1.6px rgb(91, 91, 91);
    border-radius: 6px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 8px;
    font-size: 15px;
}
.addButton{
    width: 160px;
    height: 40px;
    color: #CCF8DB;
    border-radius: 6px;
    background-color: black;
    font-family: Work Sans,Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    align-self: center;
}
.messageSent{
    position: fixed;
    font-family: 'Times New Roman', Times, serif;
    top: 30px;
    left: 30%;
    z-index: 10004;
    width: 320px;
    height: 80px;
    background-color: #dbff87;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(39, 39, 39, 0.6);
    border: 3px solid rgb(32, 19, 18);
    color: #081702;
    font-size: 22px;
    display: none;
    align-items: center;
    gap: 15px;
    padding-left: 15px;
    justify-content: center;
    
}
.check-img{
    width: 10%;
}

@media(max-width: 1110px){
    .add{
        padding-left: 8%;
    }
}
@media(max-width: 985px){
    .bForm{
        column-gap: 10px;
    }
}
@media(max-width: 940px){
    .textInput{
        width: 90%;
    }
    .messageText{
        width: 90%;
    }
    .bForm{
        grid-template-columns: 90%;
        row-gap: 18px;
    }
}
@media(max-width: 470px){
    .check-img{
        width: 6%;
    }
    .messageSent {
        font-size: 16px;
        width: 250px;
        height: 60px;
        left: 5%;
        padding-left: 0px;
    }
}