.profile{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 90px;
}
.fiileInput{
    margin-left: 30px;
    cursor: pointer;
}
.change-but{
    margin-left: 20px;
    width: 100px;
    height: 30px;
    background-color: rgb(195, 232, 216);
    border: 1px solid rgb(99, 5, 123);
    border-radius: 5px;
}
.change-form{
    position: fixed;
    z-index: 500;
    border: solid 3px #A53DFF;
    background-color: #087cce;
    border-radius: 18px;
    height: 300px;
    width: 450px;
    top: 0px;
    left: 320px;
    display: none;
    flex-direction: column;
    gap: 35px;
}
.topCancel{
    display: flex;
    justify-content: end;
    padding-right: 30px;
    margin-top: 10px;
}
.canelBut{
    background-color: #ffffff;
    height: 25px;
    width: 25px;
    border: none;
    font-size: 18px;
    border-radius: 50%;
    margin-bottom: -65px;
}
.canelBut:hover{
    background-color: #e46868;
}
.editBlogForm{
    display: flex;
    font-family: Work Sans,Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: underline;
    justify-content: center;
}
.editBForm{
    display: grid;
    grid-template-columns: 100px 320px;
    column-gap: 10px;
    row-gap: 20px;
    color: #ffffff;
    margin-left: 15%;
}
.textInput{
    width: 180px;
    height: 26px;
    border: solid 1.6px rgb(91, 91, 91);
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 8px;
    font-size: 15px;
}
.tte{
    display: flex;
    align-items: center;
    font-weight: 500;
}
.t{
    font-weight: 500;
}
.ChangeButton{
    display: flex;
    justify-content: center;
}
.addButton{
    width: 160px;
    height: 40px;
    color: black;
    border-radius: 6px;
    background-color: #CCF8DB;
    font-family: Work Sans,Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
}
@media(max-width: 950px){
    .change-form{
        left: 40px;
    }
    .inpuut{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .fiileInput{
        margin-left: 15px;
    }
}