:root {
  background-color: #fffdfd;
  color: #0d0d0d;
}

body {
  display: flex;
  font-family: Inter, sans-serif;
  --leftSideWidth: 230px;
}
button {
  cursor: pointer;
}
.dashbordLayout {
  display: flex;
  width: 100%;
}
.routeDiv {
  display: flex;
  flex-direction: column;
  width: calc(100vw-230px);
  position: fixed;
  z-index: 400;
  top: 0;
  left: 230px;
  right: 0;
  bottom: 0;
}
.leftSide {
  position: fixed;
  width: var(--leftSideWidth);
  height: 100vh;
  padding: 35px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #d7d7d7;
}
.componentsWrapper {
  display: flex;
  flex-direction: column;
  gap: 150px;
  height: 100%;
}
.linksDiv {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.elementLayout,
.linkElementLayout,
.profileImage {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.linkElementLayout {
  padding-left: 45px;
  justify-content: start;
  gap: 20px;
}
.myInfo {
  font-family: Inter, sans-serif;
  font-weight: 600;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.profileIcon {
  width: 40px;
}
.icon {
  width: 22px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  font-family: Inter, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.hamburger-btn {
  display: none;
}
.word{
  font-size: 16px;
  font-weight: 500;
}

.wordD {
  color: #403e3e;
  font-weight: 400;
  font-family: 18px;
}
.logout-btn {
  border: none;
  background-color: transparent;
  text-align: left;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.rightSide {
  width: 100%;
}
.top {
  font-weight: 600;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 0.1px rgb(223, 223, 223);
  width: 100%;
}

.mobile-layer {
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  z-index: 1009;
}

.mobile-layer.open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.mobile-navbar {
  display: flex;
  justify-content: center;
  width: 240px;
  display: flex;
  background-color: #c27f1b;
  transition: opacity 300ms ease-out;
  z-index: 1009;
}

.mobile-navbar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  height: 100%;
}

.close-btn {
  position: absolute;
  top: 30px;
  left: 30px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #fcfdff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  font-size: 24px;
  cursor: pointer;
}

.appContainer {
  padding: 20px;
  overflow-y: scroll;
}

.activeOne {
  color: #fd9eff;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: black;
  border-radius: 10px;
}
@media (max-width: 850px) {
  .leftSide {
    width: 100px;
    padding: 15px;
  }
  .logIcon {
    display: none;
  }
  .logWord {
    border: solid;
    height: 40px;
    width: 70px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }
  .logWord:hover {
    background-color: #e47f0b;
  }
  .routeDiv {
    left: 100px;
  }
  .word,
  .myInfo {
    display: none;
  }
  .linkElementLayout {
    padding: 0px;
    justify-content: center;
    align-items: center;
  }
  .wordP {
    display: none;
  }
  .logoutIcon {
    display: none;
  }
}
@media (max-width: 665px) {
  .dashbordLayout {
    flex-direction: column;
  }
  .rightSide {
    display: none;
  }
  .leftSide {
    display: flex;
    height: 70px;
    width: 100%;
    padding: 0px;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid #a9a9a9;
  }
  .routeDiv {
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .profileImage {
    display: none;
  }
  .componentsWrapper {
    flex-direction: row;
    gap: 0px;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .linksDiv {
    flex-direction: row;
    height: 100%;
    width: 100%;
  }
  .logWord {
    border: solid;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 30px;
  }
  body {
    display: flex;
    font-family: Inter, sans-serif;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
  }
  .image {
    width: 30px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hamburger-btn {
    display: flex;
    background: none;
    border: none;
    color: black;
    font-size: 28px;
    cursor: pointer;
  }
  .rightSide {
    width: 100%;
    height: 615px;
  }
  .profileIcon,
  .icon {
    width: 28px;
  }
}
@media (max-width: 470px) {
  .top {
    display: none;
  }
}
@media (max-width: 250px) {
  .image {
    width: 15%;
  }
}
